*
{
	user-select:none;
	scroll-behavior: smooth;
}

:root
{
	--bg:#050505;
	--color-1:#101010;
	--font:#00ffbb;
}

body
{
	background:var(--bg);
	background-repeat:no-repeat;
	background-size:cover;
	color:var(--font);
	font-family: 'Quicksand', sans-serif;
	margin:auto;
	overflow:hidden;
}


header
{
	position:fixed;
	top:0px;
	display:flex;
	align-items:center;
	justify-content:left;
	gap:20px;
	background: linear-gradient(160deg, var(--font) -500%, var(--color-1) 100%);
	margin:auto;
	padding:0px 30px;
	height:100px;
	width:100%;
	border-left:5px solid var(--font);
	box-shadow:0 0 30px 2px rgba(0,0,0,.5);
	z-index:10;
}

.header-logo
{
	background-color:var(--font);
	display:flex;
	justify-content:center;
	align-items:center;
	height:70px;
	width:200px;
	border-radius:100px;
	font-size:25px;
	color:var(--color-1);
	box-shadow:0 0 10px 1px rgba(0,0,0,.4);
	transition:all 0.7s;
}
.header-logo:hover
{
	font-size:23px;
}

header a
{
	background-color:transparent;
	color:var(--font);
	font-family: 'Quicksand', sans-serif;
	font-size:20px;
	padding:5px;
	border:0px;
	border-radius:100px;
	text-shadow:0 0 15px black;
	text-decoration:none;
	transition:all 0.3s;
}

header a:hover
{
	font-size:21px;
	cursor:pointer;
}

nav
{
	display:flex;
	justify-content:center;
	align-items:center;
}

nav div
{
	box-sizing:border-box;
	width:150px;
	text-align:center;
}

nav div:focus
{
	border:1px solid var(--font);
}

.blank-div
{
	background-color:var(--bg);
	height:900px;
}

.block
{
	overflow:hidden;
	position:relative;
	background-color:var(--color-1);
	height:780px;
	width:100%;
	margin:auto;
	margin-top:135px;
	margin-bottom:50px;
	box-shadow:inset 0 0 10px 1px rgba(0,0,0,.6);
}

.content
{
	position:relative;
	width:40%;
	height:720px;
	font-size:1.7vw;
	padding:20px 50px;
	text-shadow:0 0 15px black;
	z-index:1;
}

.scroll-button 
{
	display:block;
	width:100%;
	background-color:var(--color-1);
	border-radius:15px;
	border:none;
	margin-top:50px;
	text-align:center;
	font-size:200px;
	color:var(--font);
	transition:all 0.5s;
}

.scroll-button:hover
{
	box-shadow:0 0 30px 2px rgba(0,0,0,.5);
	transform:translatey(15px);
	cursor:pointer;
}

.ball1
{
	background-color:var(--color-1);
	position:absolute;
	top:0px;
	left:70%;
	width:700px;
	height:700px;
	border-radius:100%;
	overflow:hidden;
	box-shadow:0 0 30px 2px rgba(0,0,0,.5);
	animation-name:ball-animation-1;
	animation-duration:8s;
	animation-iteration-count:infinite;
}

.ball1::after
{
	content:"";
	position:absolute;
	width:700px;
	height:700px;
	border-radius:100px;
	border-left:15px solid var(--font);
	filter:blur(50px);
	transform:rotate(-15deg);
}
.ball2
{
	background-color:var(--color-1);
	position:absolute;
	top:500px;
	left:75%;
	width:200px;
	height:200px;
	border-radius:100px;
	overflow:hidden;
	box-shadow:0 0 30px 2px rgba(0,0,0,.5);
	animation-name:ball-animation-1;
	animation-duration:6s;
	animation-iteration-count:infinite;
}

.ball2::after
{
	content:"";
	position:absolute;
	width:200px;
	height:200px;
	border-radius:100px;
	border-left:10px solid var(--font);
	filter:blur(50px);
	transform:rotate(20deg);
}
.ball3
{
	background-color:var(--color-1);
	position:absolute;
	top:200px;
	left:45%;
	width:300px;
	height:300px;
	border-radius:100%;
	overflow:hidden;
	box-shadow:0 0 30px 2px rgba(0,0,0,.5);
	animation-name:ball-animation-1;
	animation-duration:7s;
	animation-iteration-count:infinite;
}

.ball3::after
{
	content:"";
	position:absolute;
	width:300px;
	height:300px;
	border-radius:100%;
	border-left:10px solid var(--font);
	filter:blur(50px);
	transform:rotate(200deg);
}

.ball4
{
	background:var(--font);
	position:absolute;
	top:400px;
	left:65%;
	width:10px;
	height:10px;
	border-radius:100%;
	overflow:hidden;
	box-shadow:0 0 300px 80px var(--font);
}

@keyframes ball-animation-1
{
	0%
	{
		transform:translate(0px,0px);
	}
	50%
	{
		transform:translate(10px, 30px);
	}
	100%
	{
		transform:translate(0px, 0px);
	}
}

@media (orientation:portrait) (max-width:1050px)
{
	header
	{
		height:200px;
		justify-content:space-evenly;
	}
	
	header a
	{
		font-size:30px;
	}
	
	header a:hover
	{
		font-size:28px;
	}
	
	
	.header-logo
	{
		height:150px;
		width:300px;
		font-size:30px;
	}
	
	.header-logo:hover
	{
		font-size:25px;
	}
	
	
	.block
	{
		height:1900px;
		width:100%;
		margin-top:200px;
		margin-right:100px;
	}
	
	.content
	{
		width:90%;
		height:80%;
		font-size:50px;
		text-align:center;
		margin:auto;
		margin-top:0px;
	}
	.scroll-button
	{
		width:50%;
		margin:auto;
		margin-top:300px;
		box-shadow:0 0 30px 2px rgba(0,0,0,.5);
	}
	
	.ball1
	{
		top:800px;
		left:50%;
	}
	.ball2
	{
		top:1300px;
		left:50%;
	}
	.ball3
	{
		top:1100px;
		left:5%;
	}
	.ball4
	{
		top:1000px;
		left:25%;
	}
	
	@keyframes ball-animation-1
	{
		0%
		{
		transform:translate(0px,0px);
		}
		50%
		{
			transform:translate(30px, 80px);
		}
		100%
		{
			transform:translate(0px, 0px);
		}
	}
}

