*
{
	user-select:none;
	scroll-behavior: smooth;
}

:root
{
	--bg:#101010;
	--color-1:#151515;
	--font:#00ffbb;
}

body
{
	background:var(--bg);
	color:var(--font);
	font-family: 'Quicksand', sans-serif;
	margin:auto;
	overflow:hidden;
	
}


header, .me_content_header
{
	position:fixed;
	top:0px;
	left:0px;
	display:flex;
	align-items:center;
	justify-content:left;
	gap:20px;
	background: linear-gradient(160deg, var(--font) -500%, var(--color-1) 100%);
	margin:auto;
	padding:0px 30px;
	height:100px;
	width:100%;
	border-left:5px solid var(--font);
	box-shadow:0 0 30px 2px rgba(0,0,0,.5);
	z-index:10;
	animation:appear 0.7s;
}

header > *
{
	animation:appear 1.3s;
	font-size:30px;
}

.header-logo
{
	background-color:var(--font);
	display:flex;
	justify-content:center;
	align-items:center;
	height:70px;
	width:200px;
	border-radius:100px;
	font-size:25px;
	color:var(--color-1);
	box-shadow:0 0 10px 1px rgba(0,0,0,.4);
	transition:all 0.7s;
}
.header-logo:hover
{
	font-size:23px;
}

header a
{
	background-color:transparent;
	color:var(--font);
	font-family: 'Quicksand', sans-serif;
	font-size:20px;
	padding:5px;
	border:0px;
	border-radius:100px;
	text-shadow:0 0 15px black;
	text-decoration:none;
	transition:all 0.3s;
}

header a:hover
{
	font-size:21px;
	cursor:pointer;
}

nav
{
	display:flex;
	justify-content:center;
	align-items:center;
}

nav div
{
	box-sizing:border-box;
	width:150px;
	text-align:center;
}

nav div:focus
{
	border:1px solid var(--font);
}

.blank-div
{
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:var(--bg);
	height:0px;
}

.block, #me_block
{
	overflow:hidden;
	position:relative;
	background-color:var(--bg);
	height:780px;
	width:100%;
	margin:auto;
	margin-top:140px;
	margin-bottom:50px;
	box-shadow:inset 0 0 50px 20px rgb(0,0,0);
}

.content, .me_content_content
{
	position:relative;
	width:30%;
	height:710px;
	font-size:35px;
	padding:0px 50px;
	text-shadow:0 0 15px black;
	z-index:1;
}

.content
{
	animation:content_me_show 0.9s;
}

.me_content_content
{
	transform:translate(-10000px, 0px);
	animation:content_me_hide 0.5s;
}

.scroll-button, .me_content_scroll-button, .me_content_back-button 
{
	display:block;
	width:50%;
	background-color:var(--bg);
	border:none;
	border-radius:15px;
	margin-top:25px;
	text-align:center;
	text-shadow:0 0 15px black;
	font-size:200px;
	color:var(--font);
	transition:all 0.5s;
}

.me_content_back-button 
{
	animation:appear 0.7s;
}

.scroll-button:hover, .me_content_scroll-button:hover, .me_content_back-button:hover
{
	box-shadow:-10px 0px 20px 20px rgba(0,0,0,.4);
	transform:translatex(30px);
	cursor:pointer;
}

.scroll-button:active, .me_content_scroll-button:active, .me_content_back-button:active
{
	box-shadow:none;
	transform:none;
	cursor:pointer;
}

.me_content_back-button 
{
	position:absolute;
	top:0;
	left:0;
	width:150px;
	border:none;
	margin-top:20px;
	margin-left:20px;
	font-size:60px;
}

.me_content_back-button:hover
{
	transform:translatey(5px);
}


.ball1, .me_content_ball1
{
	background-color:var(--color-1);
	position:absolute;
	top:0%;
	left:70%;
	width:700px;
	height:700px;
	border-radius:100%;
	overflow:hidden;
	box-shadow:0 0 30px 2px rgba(0,0,0,.5);
}

.ball1
{
	animation:ball-animation-1 0.7s;
}
.me_content_ball1
{
	transform:translate(-15%, 0px) rotate(10deg) scale(130%) ;
	animation-name:me_content_ball-animation-1;
	animation-duration:0.7s;
}


.ball1::after, .me_content_ball1::after
{
	content:"";
	position:absolute;
	width:700px;
	height:700px;
	border-radius:100%;
	border-left:70px solid var(--font);
	border-right:140px solid black;
	filter:blur(120px);
	transform:rotate(-5deg);
	box-sizing:border-box;
}

.me_content_ball1::before
{
	content:"CSS 58%";
	font-size:80px;
	text-shadow:0px 0px 20px black;
	position:absolute;
	top:250px;
	left:180px;
	box-sizing:border-box;
	animation:appear 2s;
}

.ball2,.me_content_ball2
{
	background-color:var(--color-1);
	position:absolute;
	top:500px;
	left:75%;
	width:200px;
	height:200px;
	border-radius:100px;
	overflow:hidden;
	box-shadow:0 0 30px 2px rgba(0,0,0,.5);
}

.ball2::after, .me_content_ball2::after
{
	content:"";
	position:absolute;
	width:200px;
	height:200px;
	border-radius:100%;
	border-left:20px solid var(--font);
	border-right:40px solid black;
	filter:blur(33px);
	transform:rotate(10deg);
	box-sizing:border-box;
}

.me_content_ball2::before
{
	content:"javascript 7%";
	font-size:25px;
	text-shadow:0px 0px 20px black;
	position:absolute;
	top:80px;
	left:20px;
	box-sizing:border-box;
	transform:rotate(-90deg);
	animation:appear 2s;
}

.ball2
{
	animation:ball-animation-2 0.7s;
}

.me_content_ball2
{
	transform:translate(-370%, 10%) scale(130%) rotate(90deg);
	animation-name:me_content_ball-animation-2;
	animation-duration:0.7s;
}

.ball3, .me_content_ball3
{
	background-color:var(--color-1);
	position:absolute;
	top:200px;
	left:40%;
	width:300px;
	height:300px;
	border-radius:100%;
	overflow:hidden;
	box-shadow:0 0 30px 2px rgba(0,0,0,.5);
}

.ball3
{
	animation:ball-animation-3 0.7s;
}

.me_content_ball3
{
	transform:translate(-220%, -30%) scale(130%) rotate(0deg);
	animation-name:me_content_ball-animation-3;
	animation-duration:0.7s;
}

.ball3::after, .me_content_ball3::after
{
	content:"";
	position:absolute;
	width:300px;
	height:300px;
	border-radius:100%;
	border-left:30px solid var(--font);
	border-right:60px solid black;
	filter:blur(50px);
	transform:rotate(170deg);
	box-sizing:border-box;
}

.me_content_ball3::before
{
	content:"HTML 35%";
	font-size:45px;
	text-shadow:0px 0px 20px black;
	position:absolute;
	top:120px;
	left:50px;
	box-sizing:border-box;
	animation:appear 2s;
}

.ball4, .me_content_ball4
{
	background:var(--font);
	position:absolute;
	top:300px;
	left:60%;
	width:10px;
	height:10px;
	border-radius:100%;
	overflow:hidden;
	box-shadow:0 0 300px 80px var(--font);
}

.ball4
{
	animation:ball-light-animation-1 0.7s;
}

.me_content_ball4
{
	transform:translate(-300px, -100px) scale(200%);
	box-shadow:0 0 300px 40px var(--font);
	animation-name:me_content_light-ball-animation-1; 
	animation-duration:0.7s;
}

@keyframes appear
{
	0%
	{
		opacity:0%;
	}
	100%
	{
		opacity:100%;
	}
}

@keyframes content_me_show
{
	0%
	{
		transform:translate(-1000px, 0px) scale(150%);
	}
	100%
	{
		transform:translate(0px, 0px) scale(100%);
	}
	
}

@keyframes content_me_hide
{
	0%
	{
		transform:translate(0px, 0px) scale(100%);
	}
	100%
	{
		transform:translate(-1000px, 0px) scale(150%);
	}
	
}

@keyframes ball-animation-1
{
	0%
	{
		transform:translate(-15%, 0px) rotate(10deg) scale(130%) ;
	}	
	100%
	{
		transform:translate(0px,0px);
	}
}

@keyframes ball-animation-2
{
	0%
	{
		transform:translate(-370%, 10%) scale(130%) rotate(90deg);
	}	
	100%
	{
		transform:translate(0px,0px);
	}
}

@keyframes ball-animation-3
{
	0%
	{
		transform:translate(-220%, -30%) scale(130%) rotate(0deg);
	}	
	100%
	{
		transform:translate(0px,0px);
	}
}

@keyframes ball-light-animation-1
{
	0%
	{
		transform:translate(-300px, -100px) scale(200%);
		box-shadow:0 0 300px 40px var(--font);
	}
	100%
	{
		transform:translate(0px,0px);
		box-shadow:0 0 300px 80px var(--font);
	}
}

@keyframes me_content_ball-animation-1
{
	0%
	{
		transform:translate(0px,0px);
	}	
	100%
	{
		transform:translate(-15%, 0px) rotate(10deg) scale(130%) ;
	}
}

@keyframes me_content_ball-animation-2
{
	0%
	{
		transform:translate(0px,0px);
	}
	100%
	{
		transform:translate(-370%, 10%) scale(130%) rotate(90deg);
	}
}

@keyframes me_content_ball-animation-3
{
	0%
	{
		transform:translate(0px,0px);
	}
	100%
	{
		transform:translate(-220%, -30%) scale(130%) rotate(0deg);
	}
}

@keyframes me_content_light-ball-animation-1
{
	0%
	{
		transform:translate(0px,0px);
		box-shadow:0 0 300px 80px var(--font);
	}
	100%
	{
		transform:translate(-300px, -100px) scale(200%);
		box-shadow:0 0 300px 40px var(--font);
	}
}

@media (max-width:1500px) and (orientation:landscape)
{
	body
	{
		overflow-y:scroll;
	}
	
	header
	{
		height:70px;
		justify-content:space-evenly;
	}
	
	header a
	{
		font-size:20px;
	}
	
	header a:hover
	{
		font-size:18px;
	}
	
	.header-logo
	{
		height:50px;
		width:300px;
		font-size:20px;
	}
	
	.header-logo:hover
	{
		font-size:25px;
	}
	
	
	.scroll-button, .me_content_scroll-button
	{
		display:block;
		width:100%;
		background-color:var(--color-1);
		border-radius:15px;
		border:none;
		margin-top:25px;
		text-align:center;
		font-size:100px;
		color:var(--font);
		transition:all 0.5s;
	}
	
	.block, #me_block
	{
		height:650px;
		width:100%;
		margin-top:60px;
	}
	
	.content, .me_content_content
	{
		font-size:20px;
	}
	.ball1, .me_content_ball1
	{
		top:30%;
		left:70%;
		width:400px;
		height:400px;
	}

	.ball1
	{
		animation:ball-animation-1 0.7s;
	}
	.me_content_ball1
	{
		transform:translate(-15%, 0px) rotate(10deg) scale(130%) ;
		animation-name:me_content_ball-animation-1;
		animation-duration:0.7s;
	}


	.ball1::after, .me_content_ball1::after
	{
		width:400px;
		height:400px;
		transform:rotate(35deg);
	}
	
	.me_content_ball1::before
	{
		font-size:80px;
		top:140px;
		left:30px;
	}
	
	.ball2,.me_content_ball2
	{
		top:350px;
		left:70%;
		width:100px;
		height:100px;
	}

	.ball2::after, .me_content_ball2::after
	{
		width:100px;
		height:100px;
		transform:rotate(30deg);
		border-left:10px solid var(--font);
		filter:blur(20px);
	}
	
	.me_content_ball2::before
	{
		font-size:15px;
		top:40px;
		left:5px;
		transform:rotate(-50deg);
	}
	.ball2
	{
		animation:ball-animation-2 0.7s;
	}

	.me_content_ball2
	{
		transform:translate(-370%, 10%) scale(130%) rotate(50deg);
		animation-name:me_content_ball-animation-2;
		animation-duration:0.7s;
	}

	.ball3, .me_content_ball3
	{
		top:200px;
		left:40%;
		width:160px;
		height:160px;
	}

	.ball3
	{
		animation:ball-animation-3 0.7s;
	}

	.me_content_ball3
	{
		transform:translate(-220%, -30%) scale(130%) rotate(-10deg);
		animation-name:me_content_ball-animation-3;
		animation-duration:0.7s;
	}

	.ball3::after, .me_content_ball3::after
	{
		width:160px;
		height:160px;
		transform:rotate(130deg);
	}

	.me_content_ball3::before
	{
		font-size:25px;
		top:60px;
		left:20px;
	}

	.ball4, .me_content_ball4
	{
		top:150px;
		left:65%;
	}

	.ball4
	{
		animation:ball-light-animation-1 0.7s;
	}

	.me_content_ball4
	{
		transform:translate(-300px, -100px) scale(200%);
		box-shadow:0 0 300px 40px var(--font);
		animation-name:me_content_light-ball-animation-1; 
		animation-duration:0.7s;
	}
	
	@keyframes ball-animation-2
	{
		0%
		{
			transform:translate(-370%, 10%) scale(130%) rotate(50deg);
		}
		100%
		{
			transform:translate(0px,0px);
		}
	}
	
	@keyframes me_content_ball-animation-2
	{
		0%
		{
			transform:translate(0px,0px);
		}
		100%
		{
			transform:translate(-370%, 10%) scale(130%) rotate(50deg);
		}
	}
	
	@keyframes ball-animation-3
	{
		0%
		{
			transform:translate(-220%, -30%) scale(130%) rotate(-10deg);
		}
		100%
		{
			transform:translate(0px,0px);
		}
	}

	@keyframes me_content_ball-animation-3
	{
		0%
		{
			transform:translate(0px,0px);
		}
		100%
		{
			transform:translate(-220%, -30%) scale(130%) rotate(-10deg);
		}
	}
	
}

@media (max-width:1000px)
{
	body
	{
		overflow-y:scroll;
	}
	
	header
	{
		height:200px;
		justify-content:space-evenly;
	}
	
	header div
	{
		font-size:65px;
	}
	
	header a
	{
		font-size:30px;
	}
	
	header a:hover
	{
		font-size:28px;
	}
	
	
	.header-logo
	{
		height:100px;
		width:300px;
		font-size:30px;
	}
	
	.header-logo:hover
	{
		font-size:25px;
	}
	
	header nav a i
	{
		font-size:45px;
	}
	
	
	.block, #me_block
	{
		height:1900px;
		width:100%;
		margin-top:200px;
		margin-right:100px;
	}
	
	.content, .me_content_content
	{
		width:90%;
		height:80%;
		font-size:50px;
		text-align:center;
		margin:auto;
		margin-top:0px;
	}
	.scroll-button, .me_content_scroll-button
	{
		width:50%;
		margin:auto;
		margin-top:300px;
		box-shadow:0 0 30px 2px rgba(0,0,0,.5);
	}
	
	.ball1 , .me_content_ball1
	{
		top:800px;
		left:50%;
	}
	
	.ball1::after, .me_content_ball1::after
	{
		transform:rotate(10deg);
	}
	
	.me_content_ball1::before
	{
		font-size:80px;
		top:300px;
		left:100px;
	}
	
	.ball2, .me_content_ball2
	{
		top:1300px;
		left:50%;
	}
	
	.ball2::after, .me_content_ball2::after
	{
		transform:rotate(50deg);
	}
	
	.me_content_ball2::before
	{
		font-size:30px;
		top:80px;
		left:10px;
		transform:rotate(-40deg);
	}
	
	.ball3, .me_content_ball3
	{
		top:1100px;
		left:5%;
	}
	
	.ball3::after, .me_content_ball3::after
	{
		transform:rotate(110deg);
	}
	
	.ball4, .me_content_ball4
	{
		top:1000px;
		left:25%;
	}
	
	@keyframes ball-animation-1
	{
		0%
		{
			transform:translate(50px, -600px) rotate(15deg) scale(120%);
		}
		100%
		{
			transform:translate(0px,0px);
		}
	}

	@keyframes ball-animation-2
	{
		0%
		{
			transform:translate(50px, -100px) rotate(20deg) scale(120%);
		}
		100%
		{
			transform:translate(0px,0px);
		}
	}

	@keyframes ball-animation-3
	{
		0%
		{
			transform:translate(0px, -400px) rotate(-15deg) scale(120%);
		}
		100%
		{
			transform:translate(0px,0px);
		}
	}
	
	@keyframes ball-light-animation-1
	{
	0%
	{
		transform:translate(-100px, -700px) scale(300%);
		box-shadow:0 0 300px 40px var(--font);
	}
	100%
	{
		transform:translate(0px,0px);
		box-shadow:0 0 300px 80px var(--font);
	}
	}
	
	.me_content_ball1
	{
		transform:translate(50px, -600px) rotate(15deg) scale(120%);
	}
	.me_content_ball2
	{
		transform:translate(50px, -100px) rotate(20deg) scale(120%);
	}
	.me_content_ball3
	{
		transform:translate(0px, -400px) rotate(-15deg) scale(120%);
	}
	.me_content_ball4
	{
		transform:translate(-100px, -700px) scale(300%);
	}
	
	
	@keyframes me_content_ball-animation-1
	{
		0%
		{
			transform:translate(0px,0px);
		}
		100%
		{
			transform:translate(50px, -600px) rotate(15deg) scale(120%);
		}
	}

	@keyframes me_content_ball-animation-2
	{
		0%
		{
			transform:translate(0px,0px);
		}
		100%
		{
			transform:translate(50px, -100px) rotate(20deg) scale(120%);
		}
	}

	@keyframes me_content_ball-animation-3
	{
		0%
		{
			transform:translate(0px,0px);
		}
		100%
		{
			transform:translate(0px, -400px) rotate(-15deg) scale(120%);
		}
	}

	@keyframes me_content_light-ball-animation-1
	{
		0%
		{
			transform:translate(0px,0px);
			box-shadow:0 0 300px 80px var(--font);
		}
		100%
		{
			transform:translate(-100px, -700px) scale(300%);
			box-shadow:0 0 300px 40px var(--font);
		}
	}
	
	
}